@model CreateCustomerRequestModel

<form asp-action="CreateCustomer" asp-controller="Customer" method="post" class="p-3 w-75 m-auto">

    <div class="mb-3">
        <label> Musteri ismini giriniz</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Musteri soyismini giriniz</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="mb-3">
        <label> Telefon numarası giriniz</label>
        <input asp-for="MobilePhone" class="form-control" />
     </div>

    <div class="mb-3">
        <button class="btn btn-primary">Musteri Ekle</button>
    </div>

</form>