@model Employee

<form asp-action="CreateEmployee" asp-controller="Employee" method="post" class="p-3 w-75 m-auto">

    <input type="hidden" asp-for="ID" />
    <div class="mb-3">
        <label>Calısanın adını giriniz</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Calısanın soyadını giriniz</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Calısanın görevini giriniz</label>
        <input asp-for="Duty" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Calısanın telefon numarasını giriniz</label>
        <input asp-for="MobilePhone" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Calısanın ev adresini giriniz</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Calısanın izinli oldugu gün sayısını giriniz</label>
        <input asp-for="OffNumber" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Calısan Ekle</button>
    </div>

</form>

