@model CreateRecipePageVM

<form asp-action="CreateRecipe" asp-controller="Recipe" method="post" class="p-3 w-75 m-auto">

    <div class="mb-3">
        <label>Recete adı giriniz</label>
        <input asp-for="CreateRecipeRequestModel.Name" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Urun Recetesi Ekle</button>
    </div>

</form>