@model CreatePaymentPageVM

<form asp-action="CreatePayment" asp-controller="Payment" method="post" class="p-3 w-75 m-auto">

    <div class="mb-3">
        <label>"Siparis giriniz</label>
        <input asp-for="PaymentRequestModel.OrderID" class="form-control" />
    </div>
    <div class="mb-3">
        <label> Fiyat giriniz</label>
        <input asp-for="PaymentRequestModel.Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Para birimi giriniz</label>
        <select asp-for="PaymentRequestModel.Currency" class="form-control" />
            <option value="₺">₺</option>
            <option value="$">$</option>
            <option value="£">£</option>
    </div>

    <div class="mb-3">
        <label>"Tarih giriniz</label>
        <input asp-for="PaymentRequestModel.Date" class="form-control" />
    </div>

    <div class="mb-3">
        <label>"Odeme metodu giriniz</label>
        <input asp-for="PaymentRequestModel.PaymentMethod" class="form-control" />
    </div>


    <div class="mb-3">
        <button class="btn btn-primary">Odeme Ekle</button>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    
</form>
