@model UpdatePaymentPageVM

<form asp-action="UpdatePayment" asp-controller="Payment" method="post" class="p-3 w-75 m-auto">

    <input type="hidden" asp-for="UpdatePaymentVM.ID" />
    <div class="mb-3">
        <label> Siparis numarası giriniz</label>
        <input asp-for="UpdatePaymentVM.OrderNo" class="form-control" />
    </div>
    <div class="mb-3">
        <label> Fiyat giriniz</label>
        <input asp-for="UpdatePaymentVM.Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Para birimi giriniz</label>
        <select asp-for="UpdatePaymentVM.Currency" class="form-control" />
            <option value="₺">₺</option>
            <option value="$">$</option>
            <option value="£">£</option>
    </div>

    <div class="mb-3">
        <label>"Tarih giriniz</label>
        <input asp-for="UpdatePaymentVM.Date" class="form-control" />
    </div>

    <div class="mb-3">
        <label>"Odeme metodu giriniz</label>
        <input asp-for="UpdatePaymentVM.PaymentMethod" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Odeme Ekle</button>
    </div>
   
</form>
