@model CreateTableRequestModel
<form asp-action="AddTable" asp-controller="Table" method="post" class="p-3 w-75 m-auto">

    </div>

    <div class="mb-3">
        <label>Masa numarası giriniz</label>
        <input asp-for="TableNo" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Masa durumu giriniz</label>
        <input asp-for="Status" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Masa Ekle</button>
    </div>


</form>
