@model Table

<form asp-action="AddTable" asp-controller="Table" method="post" class="p-3 w-75 m-auto">

    
    <input type="hidden" asp-for="ID" />
    <div class="mb-3">
        <label>Masa numarası giriniz</label>
        <input asp-for="TableNo" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Masa durumunu giriniz</label>
        <input asp-for="Status" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Masa Güncelle </button>
    </div>

</form>
