@model List<Order>
Siparis detaylarını gormek icin <a asp-controller="OrderDetail" asp-action="GetOrderDetails">tıklayınız</a>
Yeni siparis detayları eklemek icin <a asp-controller="OrderDetail" asp-action="AddDetail">tıklayınız</a>
