@model AddOrderDetailPageVM

<form asp-action="AddDetail" asp-controller="OrderDetail" method="post" class="p-3 w-75 m-auto">

    <div class="mb-3">
        <label> Siparis ID giriniz</label>
        <input asp-for="OrderDetailRequestModel.OrderID" class="form-control" />
    </div>

    <div class="mb-3">
        <label> Urun ID giriniz</label>
        <input asp-for="OrderDetailRequestModel.ProductID" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Siparis adedi giriniz</label>
        <input asp-for="OrderDetailRequestModel.Quantity" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Birim giriniz</label>
        <input asp-for="OrderDetailRequestModel.Unit" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Birim fiyat giriniz</label>
        <input asp-for="OrderDetailRequestModel.UnitPrice" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Siparisin toplam fiyatını giriniz</label>
        <input asp-for="OrderDetailRequestModel.UnitPrice" class="form-control" />
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Detay Ekle</button>
    </div>

</form>

