@model OrderDetailRequestModel

<form asp-action="AddDetail" asp-controller="OrderDetail" method="post" class="p-3 w-75 m-auto">

    <div class="mb-3">
        <label> Siparis ID giriniz</label>
        <input asp-for="OrderID" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Siparis miktarı giriniz</label>
        <input asp-for="Quantity" class="form-control" />
    </div>

    <div class="mb-3">
        <label>"Birim giriniz</label>
        <input asp-for="Unit" class="form-control" />
    </div>

    <div class="mb-3">
        <label>"Birim fiyat giriniz</label>
        <input asp-for="UnitPrice" class="form-control" />
    </div>

    <div class="mb-3">
        <label>"Toplam siparis fiyatı giriniz</label>
        <input asp-for="TotalPrice" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Detay Ekle</button>
    </div>

</form>

