@model OrderDetail

<form asp-action="UpdateDetail" asp-controller="OrderDetail" method="post" class="p-3 w-75 m-auto">

    <input type="hidden" asp-for="OrderID" />

    <div class="mb-3">
        <label> Urun ID giriniz</label>
        <input asp-for="ProductID" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Siparis miktarı giriniz</label>
        <input asp-for="Quantity" class="form-control" />
    </div>

    <div class="mb-3">
        <label>"Birim giriniz</label>
        <input asp-for="Unit" class="form-control" />
    </div>

    <div class="mb-3">
        <label>"Birim fiyat giriniz</label>
        <input asp-for="UnitPrice" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Detay Güncelle</button>
    </div>

</form>