@model UpdateOrderDetailPageVM

<form asp-action="UpdateDetail" asp-controller="OrderDetail" method="post" class="p-3 w-75 m-auto">

    <input type="hidden" asp-for="UpdateOrderDetailVM.OrderID" />
    <input type="hidden" asp-for="UpdateOrderDetailVM.ProductID" />

    <div class="mb-3">
        <label> Siparis ID giriniz</label>
        <input asp-for="UpdateOrderDetailVM.OrderID" class="form-control" />
    </div>

    <div class="mb-3">
        <label> Urun ID giriniz</label>
        <input asp-for="UpdateOrderDetailVM.ProductID" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Siparis miktarı giriniz</label>
        <input asp-for="UpdateOrderDetailVM.Quantity" class="form-control" />
    </div>

    <div class="mb-3">
        <label>"Birim giriniz</label>
        <input asp-for="UpdateOrderDetailVM.Unit" class="form-control" />
    </div>

    <div class="mb-3">
        <label>"Birim fiyat giriniz</label>
        <input asp-for="UpdateOrderDetailVM.UnitPrice" class="form-control" />
    </div>

    <div class="mb-3">
        <label>"Toplam fiyatı giriniz</label>
        <input asp-for="UpdateOrderDetailVM.TotalPrice" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Detay Güncelle</button>
    </div>

</form>