@model UpdateIngredientPageVM

<form asp-action="UpdateIngredient" asp-controller="Ingredient" method="post" class="p-3 w-75 m-auto">

    <input type="hidden" asp-for="UpdateIngredientVM.ID" />
    <div class="mb-3">
        <label> Malzeme adı giriniz</label>
        <input asp-for="UpdateIngredientVM.Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Miktar giriniz</label>
        <input asp-for="UpdateIngredientVM.ActualAmount" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Tahmini miktarı giriniz</label>
        <input asp-for="UpdateIngredientVM.ExpectedAmount" class="form-control" />
    </div>

    <div class="mb-3">
        <label>"Birim giriniz</label>
        <input asp-for="UpdateIngredientVM.Unit" class="form-control" />
    </div>

    <div class="mb-3">
       <label>"Birim fiyat giriniz</label>
        <input asp-for="UpdateIngredientVM.UnitPrice" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Malzeme Güncelle</button>
    </div>

</form>